<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag 'bootstrap.min', 'custom' %>
    <%= javascript_include_tag 'hasbeen' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAaMSg6gwxHyX9_dRb--bqCGKzeC6AS0yU&sensor=false" %>
  </head>
  <body onload="goto('<%= CGI.escape(@location.hint || @location) unless @location.nil? %>')">
    <%= yield %>
  </body>
</html>
