<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'custom' %>
    <%= javascript_include_tag '//code.jquery.com/jquery-1.11.0.min.js' %>
    <%= javascript_include_tag 'hasbeen' %>
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyAaMSg6gwxHyX9_dRb--bqCGKzeC6AS0yU' %>
    <title><%= descriptive_title %></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
